{% extends 'base.html' %}

{% block content %}
<section class="hero">
    <div class="hero-content">
        <div class="hero-text">
            <h2>Hi, I'm <span class="highlight">Kanika Jain</span></h2>
            <h1>A BCA Student</h1>
            <p>I m a Student at Symbiosis Institute of Computer Studies and Research. </p>
            <a href="/contact" class="btn">Hire Me</a>
            <a href="/projects" class="btn btn-secondary">My Work</a>
        

        </div>
        <div class="hero-img">
            <img src="/static/images/avatar.png" alt="Profile Picture">
        </div>
       
    </div>
    
</section>
{% endblock %}
