<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/static/css/projects.css">
</head>
<body>

    <!-- Projects Section -->
    <section class="projects">
        <h2>My <span>Projects</span></h2>
        <div class="projects-container">
            
            <div class="project-card">
                <h1>Book Review Website</h1>
                <div class="project-info">
                    
                    <p>A Django-based platform for book enthusiasts to share and review books.</p>
                    <a href="https://github.com/tasneeemm76/read-next" class="btn">View Project</a>
                </div>
            </div>

            <div class="project-card">
                <div class="project-info">
                    <h3>Employee Management System</h3>
                    <p>An AI-powered tool that converts sign language gestures into text and speech.</p>
                    <a href="https://github.com/Kanika244/Management_system" class="btn">View Project</a>
                </div>
            </div>

            <div class="project-card">
                <div class="project-info">
                    <h3>Smart City Management</h3>
                    <p>A government platform for citizens to register and post complaints on city management.</p>
                    <a href="#" class="btn">View Project</a>
                </div>
            </div>

            <div class="project-card">
                <div class="project-info">
                    <h3>Camp India</h3>
                    <p>An Android app that provides details, pricing, and booking for hikes in India.</p>
                    <a href="https://github.com/Kanika244/Android-Project" class="btn">View Project</a>
                </div>
            </div>

        </div>
    </section>

</body>
</html>
